In [229]:
import pyspark
import pyspark.sql.functions as F
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.ml.stat import Correlation

#### Requêtes SQL

In [230]:
print(pyspark.__version__)

3.2.1

In [231]:
conf = pyspark.SparkConf().set("spark.jars.packages", 
                                "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1").setMaster("local").setAppName("My App").setAll([("spark.driver.memory", "40g"), ("spark;executor.memory", "50g")])

In [232]:
sc = SparkContext(conf=conf) #Connected to pyspark

In [233]:
sqlC = SQLContext(sc)

C:\Python\lib\site-packages\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [234]:
mongo_ip = "mongodb://localhost:27017/restaurantsdb."

In [235]:
restaurants = sqlC.read.format("com.mongodb.spark.sql.DefaultSource").option("uri", mongo_ip + "restaurants").load()

In [236]:
restaurants.createOrReplaceTempView("restaurants")

In [237]:
restaurants = sqlC.sql("SELECT * FROM restaurants")

In [238]:
restaurants.show()

+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+-------------+
|                 _id|             address|      borough|             cuisine|              grades|                name|restaurant_id|
+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+-------------+
|{61f15a93e0cb0c13...|{1007, [-73.85607...|        Bronx|              Bakery|[{2014-03-03 01:0...|Morris Park Bake ...|     30075445|
|{61f15a93e0cb0c13...|{469, [-73.961704...|     Brooklyn|          Hamburgers|[{2014-12-30 01:0...|             Wendy'S|     30112340|
|{61f15a93e0cb0c13...|{351, [-73.985135...|    Manhattan|               Irish|[{2014-09-06 02:0...|Dj Reynolds Pub A...|     30191841|
|{61f15a93e0cb0c13...|{2780, [-73.98241...|     Brooklyn|           American |[{2014-06-10 02:0...|     Riviera Caterer|     40356018|
|{61f15a93e0cb0c13...|{97-22, [-73.8601...|       Queens|       Jewish/Kosher|[{2014-11-24 01:0...|  Tov Kosher Kitchen|     40356068|
|{61f15a93e0cb0c13...|{8825, [-73.88038...|       Queens|           American |[{2014-11-15 01:0...|Brunos On The Bou...|     40356151|
|{61f15a93e0cb0c13...|{2206, [-74.13772...|Staten Island|       Jewish/Kosher|[{2014-10-06 02:0...|       Kosher Island|     40356442|
|{61f15a93e0cb0c13...|{7114, [-73.90685...|     Brooklyn|        Delicatessen|[{2014-05-29 02:0...|  Wilken'S Fine Food|     40356483|
|{61f15a93e0cb0c13...|{6409, [-74.00528...|     Brooklyn|           American |[{2014-07-18 02:0...|     Regina Caterers|     40356649|
|{61f15a93e0cb0c13...|{1839, [-73.94826...|     Brooklyn|Ice Cream, Gelato...|[{2014-07-14 02:0...|Taste The Tropics...|     40356731|
|{61f15a93e0cb0c13...|{2300, [-73.87861...|        Bronx|           American |[{2014-05-28 02:0...|           Wild Asia|     40357217|
|{61f15a93e0cb0c13...|{7715, [-73.99733...|     Brooklyn|           American |[{2014-04-16 02:0...|C & C Catering Se...|     40357437|
|{61f15a93e0cb0c13...|{1269, [-73.87119...|     Brooklyn|             Chinese|[{2014-09-16 02:0...|     May May Kitchen|     40358429|
|{61f15a93e0cb0c13...|{1, [-73.96926909...|    Manhattan|           American |[{2014-05-07 02:0...|1 East 66Th Stree...|     40359480|
|{61f15a93e0cb0c13...|{705, [-73.965396...|     Brooklyn|       Jewish/Kosher|[{2014-11-10 01:0...|         Seuda Foods|     40360045|
|{61f15a93e0cb0c13...|{203, [-73.978220...|     Brooklyn|Ice Cream, Gelato...|[{2014-02-10 01:0...|    Carvel Ice Cream|     40360076|
|{61f15a93e0cb0c13...|{265-15, [-73.703...|       Queens|Ice Cream, Gelato...|[{2014-10-28 01:0...|    Carvel Ice Cream|     40361322|
|{61f15a93e0cb0c13...|{6909, [-74.02595...|     Brooklyn|        Delicatessen|[{2014-08-21 02:0...|   Nordic Delicacies|     40361390|
|{61f15a93e0cb0c13...|{522, [-73.95171,...|    Manhattan|           American |[{2014-09-02 02:0...|       Glorious Food|     40361521|
|{61f15a93e0cb0c13...|{284, [-73.982923...|     Brooklyn|           American |[{2014-11-19 01:0...|   The Movable Feast|     40361606|
+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+-------------+
only showing top 20 rows

In [239]:
# Nombre de données dans la table
restaurants = sqlC.sql("SELECT COUNT(*) FROM restaurants")
restaurants.show()

+--------+
|count(1)|
+--------+
|    3772|
+--------+

In [240]:
# Nombre de restaurants par code postal
restaurants = sqlC.sql("SELECT address.zipcode, COUNT(restaurant_id) FROM restaurants GROUP BY address.zipcode")
restaurants.show()

+-------+--------------------+
|zipcode|count(restaurant_id)|
+-------+--------------------+
|  11205|                  10|
|  11236|                  11|
|  10309|                  13|
|  11106|                  27|
|  11218|                  16|
|  10452|                  11|
|  11428|                   5|
|  11237|                   9|
|  11379|                  11|
|  11364|                  10|
|  11249|                   8|
|  10012|                  94|
|  11001|                   2|
|  11385|                  34|
|  11238|                  12|
|  10039|                   4|
|  11427|                   5|
|  11367|                  10|
|  10010|                  27|
|  10038|                  18|
+-------+--------------------+
only showing top 20 rows

In [241]:
# Nombre de restaurants par type de cuisine
restaurants = sqlC.sql("SELECT cuisine, COUNT(restaurant_id) FROM restaurants GROUP BY cuisine")
restaurants.show()

+----------------+--------------------+
|         cuisine|count(restaurant_id)|
+----------------+--------------------+
|Pancakes/Waffles|                   7|
|Chinese/Japanese|                   1|
|         Mexican|                  73|
|   Jewish/Kosher|                  60|
|          Bakery|                 127|
|         Turkish|                  11|
|        Armenian|                   1|
|         Hotdogs|                   4|
|       Ethiopian|                   3|
|            Thai|                  14|
|          Indian|                  43|
|         Chinese|                 115|
|      Indonesian|                   2|
|       Soul Food|                   6|
|     Continental|                   8|
|           Steak|                  21|
|         African|                   4|
|CafÃ©/Coffee/Tea|                   1|
|          Donuts|                  43|
|           Tapas|                   4|
+----------------+--------------------+
only showing top 20 rows

In [242]:
# Le restaurant le mieux noté
from pyspark.sql.functions import *

restaurants = sqlC.sql("select *,aggregate(grades.score,0,(x,y) -> x + y) as sum from restaurants")
restaurants.show()

+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+-------------+---+
|                 _id|             address|      borough|             cuisine|              grades|                name|restaurant_id|sum|
+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+-------------+---+
|{61f15a93e0cb0c13...|{1007, [-73.85607...|        Bronx|              Bakery|[{2014-03-03 01:0...|Morris Park Bake ...|     30075445| 41|
|{61f15a93e0cb0c13...|{469, [-73.961704...|     Brooklyn|          Hamburgers|[{2014-12-30 01:0...|             Wendy'S|     30112340| 55|
|{61f15a93e0cb0c13...|{351, [-73.985135...|    Manhattan|               Irish|[{2014-09-06 02:0...|Dj Reynolds Pub A...|     30191841| 37|
|{61f15a93e0cb0c13...|{2780, [-73.98241...|     Brooklyn|           American |[{2014-06-10 02:0...|     Riviera Caterer|     40356018| 36|
|{61f15a93e0cb0c13...|{97-22, [-73.8601...|       Queens|       Jewish/Kosher|[{2014-11-24 01:0...|  Tov Kosher Kitchen|     40356068| 71|
|{61f15a93e0cb0c13...|{8825, [-73.88038...|       Queens|           American |[{2014-11-15 01:0...|Brunos On The Bou...|     40356151| 68|
|{61f15a93e0cb0c13...|{2206, [-74.13772...|Staten Island|       Jewish/Kosher|[{2014-10-06 02:0...|       Kosher Island|     40356442| 42|
|{61f15a93e0cb0c13...|{7114, [-73.90685...|     Brooklyn|        Delicatessen|[{2014-05-29 02:0...|  Wilken'S Fine Food|     40356483| 60|
|{61f15a93e0cb0c13...|{6409, [-74.00528...|     Brooklyn|           American |[{2014-07-18 02:0...|     Regina Caterers|     40356649| 48|
|{61f15a93e0cb0c13...|{1839, [-73.94826...|     Brooklyn|Ice Cream, Gelato...|[{2014-07-14 02:0...|Taste The Tropics...|     40356731| 33|
|{61f15a93e0cb0c13...|{2300, [-73.87861...|        Bronx|           American |[{2014-05-28 02:0...|           Wild Asia|     40357217| 18|
|{61f15a93e0cb0c13...|{7715, [-73.99733...|     Brooklyn|           American |[{2014-04-16 02:0...|C & C Catering Se...|     40357437| 14|
|{61f15a93e0cb0c13...|{1269, [-73.87119...|     Brooklyn|             Chinese|[{2014-09-16 02:0...|     May May Kitchen|     40358429|138|
|{61f15a93e0cb0c13...|{1, [-73.96926909...|    Manhattan|           American |[{2014-05-07 02:0...|1 East 66Th Stree...|     40359480| 13|
|{61f15a93e0cb0c13...|{705, [-73.965396...|     Brooklyn|       Jewish/Kosher|[{2014-11-10 01:0...|         Seuda Foods|     40360045| 59|
|{61f15a93e0cb0c13...|{203, [-73.978220...|     Brooklyn|Ice Cream, Gelato...|[{2014-02-10 01:0...|    Carvel Ice Cream|     40360076| 43|
|{61f15a93e0cb0c13...|{265-15, [-73.703...|       Queens|Ice Cream, Gelato...|[{2014-10-28 01:0...|    Carvel Ice Cream|     40361322| 32|
|{61f15a93e0cb0c13...|{6909, [-74.02595...|     Brooklyn|        Delicatessen|[{2014-08-21 02:0...|   Nordic Delicacies|     40361390| 17|
|{61f15a93e0cb0c13...|{522, [-73.95171,...|    Manhattan|           American |[{2014-09-02 02:0...|       Glorious Food|     40361521| 61|
|{61f15a93e0cb0c13...|{284, [-73.982923...|     Brooklyn|           American |[{2014-11-19 01:0...|   The Movable Feast|     40361606| 37|
+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+-------------+---+
only showing top 20 rows

### Preprocessing

In [243]:
restaurants_df = sqlC.read.format("com.mongodb.spark.sql.DefaultSource").option("uri", mongo_ip + "restau_df").load()

In [244]:
restaurants_df.show()

+--------------------+--------------------+-----------------+------------------+-----+-------------+-------+
|                 _id|             cuisine|        lattitude|         longitude|notes|     quartier|zipcode|
+--------------------+--------------------+-----------------+------------------+-----+-------------+-------+
|{61f15a93e0cb0c13...|              Bakery|        40.848447|        -73.856077|    2|        Bronx|  10462|
|{61f15a93e0cb0c13...|          Hamburgers|        40.662942|        -73.961704|    8|     Brooklyn|  11225|
|{61f15a93e0cb0c13...|               Irish|       40.7676919|-73.98513559999999|    2|    Manhattan|  10019|
|{61f15a93e0cb0c13...|           American |        40.579505|-73.98241999999999|    5|     Brooklyn|  11224|
|{61f15a93e0cb0c13...|       Jewish/Kosher|       40.7311739|       -73.8601152|   20|       Queens|  11374|
|{61f15a93e0cb0c13...|           American |       40.7643124|       -73.8803827|   38|       Queens|  11369|
|{61f15a93e0cb0c13...|       Jewish/Kosher|       40.6119572|       -74.1377286|    9|Staten Island|  10314|
|{61f15a93e0cb0c13...|        Delicatessen|       40.6199034|       -73.9068506|   10|     Brooklyn|  11234|
|{61f15a93e0cb0c13...|           American |        40.628886|-74.00528899999999|   12|     Brooklyn|  11219|
|{61f15a93e0cb0c13...|Ice Cream, Gelato...|       40.6408271|       -73.9482609|   12|     Brooklyn|  11226|
|{61f15a93e0cb0c13...|           American |       40.8502883|       -73.8786113|   11|        Bronx|  10460|
|{61f15a93e0cb0c13...|           American |40.61174889999999|       -73.9973325|    5|     Brooklyn|  11214|
|{61f15a93e0cb0c13...|             Chinese|       40.6730975|        -73.871194|   21|     Brooklyn|  11208|
|{61f15a93e0cb0c13...|           American |       40.7685235|-73.96926909999999|    3|    Manhattan|  10065|
|{61f15a93e0cb0c13...|       Jewish/Kosher|       40.6064339|       -73.9653967|   11|     Brooklyn|  11223|
|{61f15a93e0cb0c13...|Ice Cream, Gelato...|       40.6435254|-73.97822040000001|    2|     Brooklyn|  11218|
|{61f15a93e0cb0c13...|Ice Cream, Gelato...|       40.7386417|       -73.7032601|    9|       Queens|  11004|
|{61f15a93e0cb0c13...|        Delicatessen|       40.6353674|       -74.0259567|    4|     Brooklyn|  11209|
|{61f15a93e0cb0c13...|           American |        40.767461|         -73.95171|   12|    Manhattan|  10021|
|{61f15a93e0cb0c13...|           American |       40.6580753|       -73.9829239|   11|     Brooklyn|  11215|
+--------------------+--------------------+-----------------+------------------+-----+-------------+-------+
only showing top 20 rows

In [245]:
restaurants_df.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- lattitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- notes: integer (nullable = true)
 |-- quartier: string (nullable = true)
 |-- zipcode: string (nullable = true)

In [246]:
restaurants_df.describe().show()

+-------+--------------------+------------------+------------------+------------------+-------------+-----------------+
|summary|             cuisine|         lattitude|         longitude|             notes|     quartier|          zipcode|
+-------+--------------------+------------------+------------------+------------------+-------------+-----------------+
|  count|                3772|              3772|              3772|              3772|         3772|             3772|
|   mean|                null| 40.67625120771491|-73.96846774331894|10.701219512195122|         null|10545.26802757158|
| stddev|                null|1.6256337301241979| 4.953221264543527|  5.98845956338147|         null| 588.991762883543|
|    min|              Afghan|       -28.0168595|      -119.6368672|                -1|        Bronx|            10001|
|    max|Vietnamese/Cambod...|        51.6514664|       153.1628795|                89|Staten Island|            11697|
+-------+--------------------+------------------+------------------+------------------+-------------+-----------------+

In [247]:
import pymongo
import pandas as pd
from pymongo import MongoClient

#MongoDB collection to Pandas dataframe
c = MongoClient()
db = c.restaurantsdb
input_data = db.restau_df
df = pd.DataFrame(list(input_data.find()))
df

,_id,longitude,lattitude,zipcode,cuisine,quartier,notes
0,61f15a93e0cb0c134b208f69,-73.856077,40.848447,10462,Bakery,Bronx,2
1,61f15a93e0cb0c134b208f6a,-73.961704,40.662942,11225,Hamburgers,Brooklyn,8
2,61f15a93e0cb0c134b208f6b,-73.985136,40.767692,10019,Irish,Manhattan,2
3,61f15a93e0cb0c134b208f6c,-73.982420,40.579505,11224,American,Brooklyn,5
4,61f15a93e0cb0c134b208f6d,-73.860115,40.731174,11374,Jewish/Kosher,Queens,20
...,...,...,...,...,...,...,...
3767,61f15a94e0cb0c134b209e20,-73.986544,40.733770,10003,Café/Coffee/Tea,Manhattan,5
3768,61f15a94e0cb0c134b209e21,-73.946224,40.656571,11203,Café/Coffee/Tea,Brooklyn,3
3769,61f15a94e0cb0c134b209e22,-73.983944,40.756111,10036,Japanese,Manhattan,7
3770,61f15a94e0cb0c134b209e23,-73.986652,40.753641,10018,Sandwiches/Salads/Mixed Buffet,Manhattan,5
3771,61f15a94e0cb0c134b209e24,-74.025217,40.622463,11209,Chinese,Brooklyn,12

In [248]:
df['cuisine'].value_counts()

American            1255
Italian              325
Pizza                270
Café/Coffee/Tea      180
Hamburgers           159
                    ...
CafÃ©/Coffee/Tea       1
Moroccan               1
Armenian               1
Chinese/Japanese       1
Salads                 1
Name: cuisine, Length: 70, dtype: int64

In [249]:
df['quartier'].value_counts()

Manhattan        1883
Queens            738
Brooklyn          684
Bronx             309
Staten Island     158
Name: quartier, dtype: int64

##### One Hot Encoding

In [250]:
# Get one hot encoding of columns cusine
cuisine = pd.get_dummies(df['cuisine'])
del df['cuisine']
df = df.join(cuisine)

# Get one hot encoding of columns quartier
quartier = pd.get_dummies(df['quartier'])
del df['quartier']
df = df.join(quartier)
df.head()

,_id,longitude,lattitude,zipcode,notes,Afghan,African,American,Armenian,Asian,...,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese/Cambodian/Malaysia,Bronx,Brooklyn,Manhattan,Queens,Staten Island
0,61f15a93e0cb0c134b208f69,-73.856077,40.848447,10462,2,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,61f15a93e0cb0c134b208f6a,-73.961704,40.662942,11225,8,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,61f15a93e0cb0c134b208f6b,-73.985136,40.767692,10019,2,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,61f15a93e0cb0c134b208f6c,-73.982420,40.579505,11224,5,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,61f15a93e0cb0c134b208f6d,-73.860115,40.731174,11374,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [251]:
df.shape

(3772, 80)

In [252]:
# column notes to last position
notes = df['notes']
del df['notes']
df.insert(loc=79, column='notes', value=notes)
df.head()

,_id,longitude,lattitude,zipcode,Afghan,African,American,Armenian,Asian,Bagels/Pretzels,...,Thai,Turkish,Vegetarian,Vietnamese/Cambodian/Malaysia,Bronx,Brooklyn,Manhattan,Queens,Staten Island,notes
0,61f15a93e0cb0c134b208f69,-73.856077,40.848447,10462,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2
1,61f15a93e0cb0c134b208f6a,-73.961704,40.662942,11225,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,8
2,61f15a93e0cb0c134b208f6b,-73.985136,40.767692,10019,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2
3,61f15a93e0cb0c134b208f6c,-73.982420,40.579505,11224,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,5
4,61f15a93e0cb0c134b208f6d,-73.860115,40.731174,11374,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,20

In [253]:
del df['_id']
df.head()

,longitude,lattitude,zipcode,Afghan,African,American,Armenian,Asian,Bagels/Pretzels,Bakery,...,Thai,Turkish,Vegetarian,Vietnamese/Cambodian/Malaysia,Bronx,Brooklyn,Manhattan,Queens,Staten Island,notes
0,-73.856077,40.848447,10462,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,2
1,-73.961704,40.662942,11225,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,8
2,-73.985136,40.767692,10019,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2
3,-73.982420,40.579505,11224,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,5
4,-73.860115,40.731174,11374,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,20

In [254]:
from sklearn.model_selection import train_test_split

X = df.iloc[:,:78]
y = df.iloc[:,78:]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
data_train_df = (X_train, y_train)
data_test_df = (X_test, y_test)

In [255]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

clf = DecisionTreeClassifier(random_state=0)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
y_pred

array([11, 11, 12, ...,  6,  7,  3], dtype=int64)

In [262]:
# example of increase in mean squared error
import numpy as np
from matplotlib import pyplot
from sklearn.metrics import mean_squared_error

array_y_test = np.array(y_test)
# calculate errors
errors = list()
for i in range(len(array_y_test)):
	# calculate error
	err = abs((array_y_test[i] - y_pred[i]))
	# store error
	errors.append(err)
	# report error
	print('>%.1f, %.1f = %.3f' % (array_y_test[i], y_pred[i], err))
# plot errors
pyplot.plot(errors)
pyplot.xticks(ticks=[i for i in range(len(errors))], labels=y_pred)
pyplot.xlabel('Predicted Value')
pyplot.ylabel('Mean Squared Error')
pyplot.show()

TypeError: Invalid argument, not a string or column: [-1] of type <class 'numpy.ndarray'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

- Quartier et Cuisine en catégorie
- Extraire grade et score
- Extraire longitude et latitude (variable adress)
- Split train set et test set
- Regression : transformer output en classe et comparer avec le modele de classification
- Choisir metrics de regression et classification
- Arbre de décision, Random Forest, Xgboost